@font-face 
{
  font-family: philosopher-regular;
  src: url(font/Philosopher-Regular.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    /* Font for the whole website */
    font-family: philosopher-regular;
}

body {
    background-image: url("");
    background-position: center;
    background-position-y: 20%;

    background-blend-mode: multiply;
    background-color: black;

    transition: background-color 1s ease;
}

body.in {
    background-color: white;
}


header img {
    height: auto;
}

header {
    text-align: center;
    opacity: 0.88;
    box-shadow: 0px 20px 40px 10px rgba(0, 0, 0, 0.7);
}

/* Desktop Responsive */
@media (min-width: 1000px)
{
    body {
        background-size: 100%;
    }

    header img {
        width: 12.5%;
    }

    header, footer {
        padding: 0.5%;
    }

    main img {
        display: none;
    }
}

/* Mobile Responsive */
@media (max-width: 1000px) {
    body {
        background-size: 400%;
        backdrop-filter: blur(8px);
        z-index: 1;
    }

    header img {
        width: 40%;
    }

    header, footer {
        padding: 3%;
    }

    .links {
        display: none !important;
    }

    main img {
        width: 100%;
        margin-top: 50%;
    }
}

header {
    background-color: #f6f6f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.links {
    display: flex;
    justify-content: space-evenly;
}

header a {
    font-size: 165%;
    padding: 10%;
}