@font-face 
{
  font-family: philosopher-regular;
  src: url(font/Philosopher-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;

    /* Font for the whole website */
    font-family: philosopher-regular;
}

body {
    background-image: url("./img/home/armenia_1.jpg");
    background-position: center;
    background-position-y: 40%;

    background-blend-mode: multiply;
    background-color: black;

    transition: background-color 1s ease;
}

body.in {
    background-color: white;
}


header img {
    height: auto;
}

header, footer {
    text-align: center;
}

/* Desktop Responsive */
@media (min-width: 1000px)
{
    body {
        background-size: 150%;
    }

    header img {
        width: 10%;
    }

    header, footer {
        padding: 0.5%;
    }
}

/* Mobile Responsive */
@media (max-width: 1000px) {
    body {
        background-size: fit;
    }

    header img {
        width: 25%;
    }

    header, footer {
        padding: 3%;
    }
}

header {
    background-color: #f6f6f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a {
    font-size: 200%;
    padding-left: 5%;
}