@font-face 
{
  font-family: philosopher-regular;
  src: url(font/Philosopher-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;

    /* Font for the whole website */
    font-family: philosopher-regular;
}

body {
    background-image: url("./img/home/armenia_1.jpg");
    background-position: center;
    background-position-y: 20%;

    background-blend-mode: multiply;
    background-color: black;

    transition: background-color 1s ease;
}

body.in {
    background-color: white;
}


header img {
    height: auto;
}

header {
    text-align: center;
    opacity: 0.93;
    box-shadow: 0px 20px 40px 10px rgba(0, 0, 0, 0.7);
}

/* Desktop Responsive */
@media (min-width: 1000px)
{
    body {
        background-size: 100%;
    }

    header img {
        width: 12.5%;
    }

    header, footer {
        padding: 0.5%;
    }
}

/* Mobile Responsive */
@media (max-width: 1000px) {
    body {
        background-size: fit;
    }

    header img {
        width: 25%;
    }

    header, footer {
        padding: 3%;
    }
}

header {
    background-color: #f6f6f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.links {
    display: flex;
    justify-content: space-evenly;
}

header a {
    font-size: 165%;
    padding: 10%;
}